<!DOCTYPE HTML>
<html>
    <head>
    </head>
    
    <body>
        <% d = Date.today.strftime("%A, %B %d, %Y") %>
        <p>The date is <%= Time.new.strftime("%A, %B %d, %Y") %></p> 
    </body>
</html>